.CodeMirror-line-numbers {width: 2.2em;color: #aaa;background-color: #eee;text-align: right;padding-right: .3em;font-size: 10pt;font-family: monospace;padding-top: .4em;}
.CodeMirror-wrapping {border:1px solid #ccc;}
.resizable-textarea .grippie {display:none;}
